@import url(./Root.css);
@import url(./style.css);

.overflow_x_hidden {
  overflow-x: hidden !important;
}

/* NAVBAR */

.nav_hide {
  position: fixed;
  width: 100%;
  background-color: #7f0011;
  top: 0;
  z-index: 999 !important;
  left: -100%;
  transition: ease-in-out 500ms;
}

.show_aside {
  position: fixed;
  max-width: 400px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #7f0011;
  top: 0;
  right: 0;
  z-index: 999 !important;
  transition: ease-in-out 500ms;
}

.show_aside::-webkit-scrollbar {
  display: none;
}

.aside_hide {
  position: fixed;
  max-width: 400px;
  width: 100%;
  background-color: #282c34;
  top: 0;
  z-index: 999 !important;
  right: -100%;
  transition: ease-in-out 500ms;
}

.show_nav {
  position: fixed;
  width: 100%;
  background-color: #282c34;
  top: 0;
  left: 0;
  z-index: 999 !important;
  transition: ease-in-out 500ms;
}

.hero-slider-card {
  background-color: #282c34;
  transition: all 300ms linear;
}

.hero-slider-card:hover {
  background-color: #7f0011;
}

.z_index_10 {
  z-index: 10;
}

/* SLICK-DOTS */
.slick-dots li button:before {
  font-family: "slick";
  font-size: 1px !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px !important;
  height: 10px !important;
  content: "•";
  text-align: center;
  border-radius: 50%;
  /* opacity: .25; */

  color: unset !important;
  border: 1px solid red;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  background-color: red;
}

/* BUTTON */

.priamrybtn {
  padding: 15px 31px;
  background: linear-gradient(44.01deg, #d41700 -6.45%, #7f0011 136.55%);
  border-radius: 60px;
  color: white;
  border: 1px solid transparent;
  transition: all 300ms linear;
  display: inline-block;
}

.priamrybtn:hover {
  background: white;
  border-radius: 60px;
  color: #d41700;
  padding: 15px 31px;
  display: inline-block;
}

.nav_links {
  transition: all 300ms linear;
}

.nav_links:hover {
  color: #7f0011;
}

/* menu btn */

.menu {
  height: 20px;
  width: 30px;
  z-index: 100;
}

.line {
  background-color: #fff;
  border-radius: 10px;
  content: "";
  height: 3px;
  position: absolute;
}

.line1 {
  top: 0;
  width: 100%;
  left: 0;
}

.line2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 75%;
  transition: linear 200ms;
  -webkit-transition: linear 200ms;
  -moz-transition: linear 200ms;
  -ms-transition: linear 200ms;
  -o-transition: linear 200ms;
}

.menu:hover .line2 {
  width: 100%;
}

.line3 {
  left: 0;
  bottom: 0;
  width: 100%;
}

.text-linear-red {
  background: linear-gradient(44.01deg, #d41700 -6.45%, #7f0011 136.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 36px;
}

/* BLUR */

.blur {
  background: linear-gradient(44.01deg, #d41700 -6.45%, #7f0011 136.55%);
  opacity: 0.45;
  filter: blur(150px);
  width: 550px;
  height: 550px;
  z-index: 0;
}

.header-blur {
  top: -25%;
  right: -15%;
  z-index: 0;
}

.benifit_blur {
  top: -25%;
}

.logo_header_corner {
  top: -20%;
  left: -10%;
}

.top-25 {
  top: 25%;
}

.left-50 {
  left: -10%;
}

@media (min-width: 992px) {
  .position-lg-absolute {
    position: absolute;
  }

  .w-80 {
    width: 75%;
  }
}

@media (max-width: 992px) {
  .mx_auto {
    margin-left: auto;
    margin-right: auto;
  }

  .text-linear-red {
    font-size: 24px;
  }

  .page-logo {
    z-index: 100px !important;
    position: relative;
    width: 200px !important;
  }

  .mx_auto {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1900px) {
  .w_full_hd_100 {
    width: 100% !important;
  }
}

.position_phone {
  bottom: -50px;
}

.z-index-1 {
  z-index: -1;
}

.myDemoBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

#myBox {
  overflow: hidden;
  background-color: black;
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

/* pre-loader */

.fix-screen {
  overflow: hidden;
  height: 100vh;
}

.loading {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000000;
}

.loading_svg {
  animation: zoomin 1.5s ease-in-out infinite;
  width: 75%;
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  0% {
    transform: scale(1);
  }
}

.header_logo_positioning {
  right: -10%;
  bottom: 0;
  z-index: 0;
  width: 400px;
}

.nav_links {
  position: relative;
}

.nav_links:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #7f0011;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav_links:hover:after {
  width: 100%;
  left: 0;
}

/* Back to top */
.back-to-top {
  position: fixed;
  bottom: 3%;
  right: 20px;
  z-index: 9999;
  font-size: var(--font-sm);
  color: var(--white);
  border: 1px solid var(--white);
  background: #D41700;
  border-radius: 12px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 500;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
