@import url(./Root.css);
@import url(./style.css);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav_hide {
  position: fixed;
  width: 100%;
  background-color: #020056;
  top: 0;
  z-index: 999 !important;
  left: -100%;
  transition: ease-in-out 500ms;
}

.show_aside {
  position: fixed;
  max-width: 400px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #020056;
  top: 0;
  right: 0;
  z-index: 999 !important;
  transition: ease-in-out 500ms;
}

.show_aside::-webkit-scrollbar {
  display: none;
}

.aside_hide {
  position: fixed;
  max-width: 400px;
  width: 100%;
  background-color: #020056;
  top: 0;
  z-index: 999 !important;
  right: -100%;
  transition: ease-in-out 500ms;
}

.show_nav {
  position: fixed;
  width: 100%;
  background-color: #020056;
  top: 0;
  left: 0;
  z-index: 999 !important;
  transition: ease-in-out 500ms;
}

.hero-slider-card {
  background-color: #282c34;
}

.z_index_10 {
  /* width: 65%; */
  z-index: 10;
}

/* .negative-margin {
  margin-top: -50px;
} */


.slick-dots li button:before {
  font-family: 'slick';
  font-size: 1px !important;
  /* line-height: 20px; */
  position: absolute;
  top: 0;
  left: 0;
  width: 10px !important;
  height: 10px !important;
  content: '•';
  text-align: center;
  border-radius: 50%;
  /* opacity: .25; */

  color: unset !important;
  border: 1px solid red;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  /* opacity: .75; */
  background-color: red;
}