@import url(./Root.css);
@import url(./style.css);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav_hide {
  position: fixed;
  width: 100%;
  background-color: #7F0011;
  top: 0;
  z-index: 999 !important;
  left: -100%;
  transition: ease-in-out 500ms;
}

.show_aside {
  position: fixed;
  max-width: 400px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #7F0011;
  top: 0;
  right: 0;
  z-index: 999 !important;
  transition: ease-in-out 500ms;
}

.show_aside::-webkit-scrollbar {
  display: none;
}

.aside_hide {
  position: fixed;
  max-width: 400px;
  width: 100%;
  background-color: #282c34;
  top: 0;
  z-index: 999 !important;
  right: -100%;
  transition: ease-in-out 500ms;
}

.show_nav {
  position: fixed;
  width: 100%;
  background-color: #282c34;
  top: 0;
  left: 0;
  z-index: 999 !important;
  transition: ease-in-out 500ms;
}

.hero-slider-card {
  background-color: #282c34;
  transition: all 300ms linear;
}

.hero-slider-card:hover {
  background-color: #7F0011;
}

.z_index_10 {
  /* width: 65%; */
  z-index: 10;
}

/* .negative-margin {
  margin-top: -50px;
} */


.slick-dots li button:before {
  font-family: 'slick';
  font-size: 1px !important;
  /* line-height: 20px; */
  position: absolute;
  top: 0;
  left: 0;
  width: 10px !important;
  height: 10px !important;
  content: '•';
  text-align: center;
  border-radius: 50%;
  /* opacity: .25; */

  color: unset !important;
  border: 1px solid red;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  /* opacity: .75; */
  background-color: red;
}

.priamrybtn {
  background: linear-gradient(44.01deg, #D41700 -6.45%, #7F0011 136.55%);
  border-radius: 60px;
  color: white;
  padding: 8px 20px;
  border: 1px solid transparent;
  transition: all 300ms linear;
  display: inline-block;
}

.priamrybtn:hover {
  background: black;
  border: 1px solid #D41700;
  border-radius: 60px;
  color: #D41700;
  padding: 8px 20px;
  display: inline-block;
}

.nav_links {
  transition: all 300ms linear;
}

.nav_links:hover {
  color: #7F0011;
}

/* menu btn */

.menu {
  height: 20px;
  width: 30px;
}

.line {
  background-color: #fff;
  border-radius: 10px;
  content: "";
  height: 3px;
  position: absolute;
}

.line1 {
  top: 0;
  width: 100%;
  left: 0;
}

.line2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 75%;
  transition: linear 200ms;
  -webkit-transition: linear 200ms;
  -moz-transition: linear 200ms;
  -ms-transition: linear 200ms;
  -o-transition: linear 200ms;
}

.menu:hover .line2 {
  width: 100%;
}

.line3 {
  left: 0;
  bottom: 0;
  width: 100%;
}

.text-linear-red {
  background: linear-gradient(44.01deg, #D41700 -6.45%, #7F0011 136.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 36px;
}

.blur {
  background: linear-gradient(44.01deg, #D41700 -6.45%, #7F0011 136.55%);
  opacity: 0.45;
  filter: blur(150px);
  width: 550px;
  height: 550px;
}

.header-blur {
  top: -25%;
  right: -15%;
}


@media (min-width: 1000px) {
  .position-lg-absolute {
    position: absolute;
  }



  .w-80 {
    width: 75%;
  }
}

@media (max-width: 1000px) {
  .mx_auto {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width:1900px) {
  .w_full_hd_100 {
    width: 100% !important;
  }
}

.position_phone {
  bottom: -50px;
}

/* @media (min-width:1200px) {
  .position_xxl_absolute {
    position: absolute;
  }
} */