.my_container {
  max-width: 1440px !important;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.Features_card {
  background-color: #121212;
}
.my-button {
  padding: 15px 31px;
}
.stay-sec:hover {
  box-shadow: 0px 4px 100px rgba(255, 0, 0, 0.5);
  border-radius: 18px;
}
.global_bg {
  background-color: #121212;
}
.global_img {
  bottom: -21.5%;
}
.z_index_1 {
  z-index: 0;
}
.z_index_2 {
  z-index: 2;
}

/* === cooman classes === */

.heading {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 65px;
  line-height: 75px;
}
.paragraph {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 65px;
  line-height: 75px;
}
@media (min-width: 992px) {
  .Stay-mx-width {
    max-width: 695px;
  }
  .InClass-mx-width {
    max-width: 907px;
  }
}
@media (max-width: 1399px) {
  .w_max_xxl_100 {
    width: 100%;
  }
  .pe_max_xxl_5 {
    padding-right: 48px;
  }
}
@media (min-width: 1400px) {
  .global_img {
    top: -39.2%;
  }
  .position_xxl_absolute {
    position: absolute;
  }
  .end_xxl_0 {
    right: 0;
  }
}
.faq_gradient {
  background: linear-gradient(44.01deg, #d41700 -6.45%, #7f0011 136.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*---------Faq----------*/
.accordion-button:not(.collapsed) {
  background: transparent !important;
  font-family: "Gilroy-SemiBold";
  font-weight: 600;
  font-size: var(--fs_xxl) !important;
  color: #ffffff !important;
  padding-top: 25px;
  padding-left: 30px !important;
  padding-right: 35px !important;
}
.accordion-body {
  font-family: "Gilroy-SemiBold";
  padding-top: 0 !important;
  font-weight: 500;
  font-family: "Gilroy-Medium";
  font-size: var(--fs_sm) !important;
  color: #ffffff;
  padding-bottom: 20px;
  padding-left: 30px !important;
  padding-right: 35px !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../src//assets//images//svg/faq_close_icon.svg) !important;
}
.accordion-button::after {
  background-image: url(./assets/images/svg/faq_open_img.svg) !important;
}
.accordion-item {
  border: none !important;
  background: #841002 !important;
  border-radius: 12px !important;
}
.accordion-item:hover {
  box-shadow: 0px 4px 100px rgba(191, 48, 48, 0.5);
}
.accordion-button {
  background: #232323 !important;
  color: #a6a6a6 !important;
  font-weight: 600;
  font-family: "Gilroy-SemiBold";
  font-size: var(--fs_xxl) !important;
  box-shadow: none !important;
}
.accordion-item:first-of-type .accordion-button {
  border-radius: 12px !important;
}
.accordion-button.collapsed {
  border-radius: 12px !important;
}
