.max_width_300 {
  max-width: 300px;
}

.max_width_250 {
  max-width: 250px;
}

.max_width_354 {
  max-width: 354px;
}

.gap_100 {
  gap: 100px;
}

.mt_m_1 {
  margin-top: -1px;
}

.mL_m {
  margin-left: -169px;
}

.z_index_m_1 {
  z-index: 1;
}

.dote_img {
  max-width: 290px;
  z-index: 2;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin-top: 20px !important;
  list-style: none;
  text-align: center;
}

.Our_Standards_img {
  mix-blend-mode: luminosity;
}

.lh_lg {
  line-height: 75px;
}

.max_width_170 {
  max-width: 170px;
}

.max_width_195 {
  max-width: 195px;
}

.line_position {
  left: 75px;
  top: 22px;
}

.max_width_80 {
  max-width: 80%;
}

.max_width_70 {
  max-width: 70%;
}

.line2_position {
  left: -65%;
  top: 24px;
}


@media (min-width:768px) {
  .w_50 {
    width: 50%;
  }

  .max_width_750 {
    max-width: 750px;
  }
}

.slider_parent {
  max-width: 300px;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1199.98px) {
  .slider_parent {
    max-width: 250px;
  }
}

@media (max-width: 575.98px) {
  .mobile_img {
    max-width: 280px;
  }

  .scanner_img {
    max-width: 280px;
  }
}